//*------------------*
//*  変数管理
//*------------------*

//color
$color-black: #282f35;
$color-white: #ffffff;

//font-family
//-->Noto Serif
$font-main: "Noto Serif", "Noto Serif JP", serif;

//*------------------*
//*  レスポンシブ定義
//*------------------*

//ブレイクポイント
$mb: 768px; //スマホ

//@mediaのフォーマット
//スマホ
@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}

//*------------------*
//*  font-size定義
//*------------------*
//$sizeにpx表示を入れて使う

@mixin rem($size) {
  font-size: $size + px; /*IE9以前に対応する*/
  font-size: ($size / 16) + rem;
}

//*------------------*
//*  base(共通)
//*------------------*
* {
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  letter-spacing: 0.1em;
  color: $color-black;
  font-family: $font-main;
}
img {
  width: 100%;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  color: $color-white;
}
li {
  list-style: none;
}
.content_wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

//*------------------*
//*  header
//*------------------*
header {
  height: 96px;
  line-height: 96px;
  background-color: $color-black;
  z-index: 10;
  font-style: italic;
  font-weight: normal;
  .content_wrapper {
    height: 96px;
    line-height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    font-size: 26px;
    color: $color-white;
  }
  nav {
    ul {
      display: flex;
      li {
        color: $color-white;
        margin-left: 30px;
        font-size: 16px;
      }
    }
  }

  @include mobile {
    background-color: rgba($color-black, 0.7);
  }
}

//ナビゲーション
nav {
  margin-left: auto;
  @include mobile {
    display: none;
  }
  &__list {
    display: inline-block;
    margin-right: 1vw;
  }
}

//------------ここからhamburgerメニュー----------------->
//スマホのナビゲーション(ハンバーガーメニュー)
//ハンバーガーの部分
.hamburger-btn {
  display: none;
  @include mobile {
    display: block;
    position: relative;
    width: 25px;
    height: 16px;
    margin-right: 4vw;
    z-index: 20;
  }
}
.hamburger-btn__parts {
  display: block;
  width: 100%;
  height: 2px;
  background-color: $color-white;
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;
}
.hamburger-btn__parts {
  &.-top {
    top: 0;
  }
  &.-middle {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  &.-bottom {
    bottom: 0;
  }
}

//タップ後のハンバーガー
//１つ目のspanを-45度にする
.hamburger-btn.active {
  .hamburger-btn__parts {
    &.-top {
      transform: translateY(10px) rotate(-45deg);
    }
    //2つ目のspanを消す
    &.-middle {
      opacity: 0;
    }
    //3番目のspanを45度に
    &.-bottom {
      transform: translateY(-4px) rotate(45deg);
    }
  }
}

//スライドメニュー
.hamburger {
  display: none;
  @include mobile {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100vw);
    transition: all 0.3s;
    background-color: $color-black;
    &__lists {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
    }
    &__list {
      @include rem(16);
      list-style: none;
      text-align: center;
    }
    &__list + &__list {
      padding-top: 50px;
    }
    &__link {
      text-decoration: none;
      color: $color-white;
    }
  }
}
//activeクラスをつけたら、スライドイン
.hamburger.active {
  transform: translateX(0);
}

//------------//ここまでhamburgerメニュー------------------>

//*------------------*
//*  mainview
//*------------------*
.mainview {
  position: relative;
  img {
    height: 752px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.main_title {
  position: absolute;
  top: 60%;
  left: 7%;
  color: $color-white;
  h2 {
    font-size: 70px;
  }
  p {
    font-size: 40px;
  }
}

//*------------------*
//*  concept
//*------------------*
.concept {
  .content_wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
  }
}
.section_title {
  display: flex;
  align-items: center;
  color: $color-black;
  font-size: 60px;
  font-style: italic;
  &:after {
    border-top: 4px solid $color-black;
    content: "";
    width: 3em;
    margin-left: 0.3em;
  }
}
.concept_center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  .concept_text {
    width: 440px;
    font-weight: bold;
  }
  img {
    width: 440px;
  }
}
.section_under {
  font-size: 90px;
  color: #171717;
  opacity: 0.1;
  text-align: right;
  margin-right: 120px;
  margin-top: 70px;
  margin-bottom: 70px;
}

//*------------------*
//*  works
//*------------------*
.works {
  padding-top: 104px;
  background-image: url(../img/works-bgi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .section_title {
    color: $color-white;
    justify-content: flex-end;
    margin-bottom: 70px;
    &:after {
      border-top: 4px solid $color-white;
    }
  }
  .section_under {
    text-align: left;
    padding-bottom: 70px;
    color: $color-white;
  }
  ul {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    li {
      width: 320px;
      height: 334px;
      background-color: #fff;
      p {
        padding: 25px 20px;
      }
    }
  }
}
.btn {
  width: 235px;
  height: 59px;
  line-height: 59px;
  border-radius: 50px;
  background-color: #f7d43f;
  box-shadow: #1b1310;
  margin: 80px auto 70px;
  a {
    color: $color-black;
    padding-left: 71px;
    display: block;
  }
}

//*------------------*
//*  service
//*------------------*
.service {
  .section_title {
    margin-left: 220px;
    margin-bottom: 80px;
  }
  .service_items {
    display: flex;
    .item {
      position: relative;
      p {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        font-size: 40px;
        font-style: italic;
        color: $color-white;
      }
      img {
        width: 480px;
        height: 320px;
      }
      a {
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
//*------------------*
//*  contact
//*------------------*
.contact {
  background-image: url(../img/contact-bgi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white;
  padding-top: 109px;
  .section_title {
    color: $color-white;
    justify-content: flex-end;
    margin-bottom: 70px;
    &:after {
      border-top: 4px solid $color-white;
    }
  }
  .btn {
    margin: 40px auto 70px;
  }
  p {
    margin-top: 80px;
    text-align: center;
  }
  .section_under {
    text-align: left;
    padding-bottom: 70px;
    color: $color-white;
    margin: 0;
  }
}
//*------------------*
//*  footer
//*------------------*
footer {
  height: 79px;
  line-height: 79px;
  text-align: center;
}
